@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Exo+2:ital,wght@0,100;0,400;0,700;1,300;1,600&family=Montserrat:ital,wght@0,100;0,400;0,800;1,100&display=swap");

.fivedays-container {
  padding: 15px;
  margin: 20px 15px 20px 15px;
  border-radius: 20px;
  color: black;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(194, 193, 193);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.days {
  font-size: 15px;
}

.forecasticons {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: -5px;
}
