@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Exo+2:ital,wght@0,100;0,400;0,700;1,300;1,600&family=Montserrat:ital,wght@0,100;0,400;0,800;1,100&display=swap");

.WeatherApp {
  margin-top: 35px;
}

li {
  display: block;
  text-align: center;
}

.container {
  margin: 20px 15px 20px 15px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(194, 193, 193);
}
input {
  box-shadow: 5px 5px 5px rgb(194, 193, 193);
}

.searchSection {
  margin: auto;
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
}

.searchButton,
.currentButton {
  background-color: #ece3f8;
  border-color: rgb(203, 202, 202);
  color: black;
  box-shadow: 0px 5px 5px rgb(194, 193, 193);
}

.searchButton:hover,
.currentButton:hover {
  background-color: #e0cff8;
  border: rgb(208, 246, 255);
  color: black;
  font-weight: bolder;
}

.city {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
}
.addfeatures {
  font-size: 16px;
  list-style: none;
  padding-top: 10px;
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
}
.feature {
  margin-top: 7px;
}

.maintemp {
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.tempFormat {
  font-size: 12px;
  position: relative;
  top: -12px;
  font-family: "Montserrat", sans-serif;
}
.description {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
